[Unit]
Description=Job Portal FastAPI Backend
After=network.target postgresql.service

[Service]
User=root
Group=www-data
WorkingDirectory=/root/all-works/legendary-eureka/backend
Environment="PATH=/root/all-works/legendary-eureka/backend/venv/bin"
ExecStart=/root/all-works/legendary-eureka/backend/venv/bin/gunicorn main:app -w 4 -k uvicorn.workers.UvicornWorker -b 127.0.0.1:8000
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
